<h3>Registering</h3>
<form name='registrationForm' novalidate ng-submit='submitRegistrationForm(registrationForm.$invalid)'>
Credit Card: <input type='text' minLength='14' autocomplete='no' name='creditcard' size='30' ng-change='cardChange()' ng-model='user.creditcard'><br><br>
<img src="/images/Visa.png" alt="">
<img src="/images/Mast.png" alt="">
<img src="/images/Disc.png" alt="">
<img src="/images/Amex.png" alt=""><br><br>
Expiration: <select ng-model='user.expirationMonth'>
  <option value='01'>01</option>
  <option value='02'>02</option>
  <option value='03'>03</option>
  <option value='04'>04</option>
  <option value='05'>05</option>
  <option value='06'>06</option>
  <option value='07'>07</option>
  <option value='08'>08</option>
  <option value='09'>09</option>
  <option value='10'>10</option>
  <option value='11'>11</option>
  <option value='12'>12</option></select>
Year: <select ng-model='user.expirationYear' required>
  <option value='16'>16</option>
  <option value='17'>17</option>
  <option value='18'>18</option>
  <option value='19'>19</option>
  <option value='20'>20</option>
  <option value='21'>21</option>
  <option value='22'>22</option>
  <option value='23'>23</option>
  <option value='24'>24</option>
  <option value='25'>25</option>
  <option value='26'>26</option>
 </select>
CVV: <input type="text" size="5"  minLength='3' maxLength='3' required><br><br>
Email: <input  type="email" size="30"
            name="myEmail"
            ng-model="email"
            ng-minlength="5"
            required novalidate/><br><br>
Password: <input type='password' required ng-model='user.password'>&nbsp;Verify Password: <input type='password' required ng-model='user.verifyPassword'><br><br>
Country: <select name="" ng-controller='countryController'>
  <option value="{{$index}}" ng-repeat="country in countries" >{{country}}</option>
</select>&nbsp;&nbsp;Postal code: <input   minLength='1' ng-model='user.postalCode'><br><br>
<button ng-disabled='!registrationForm.$invalid' class='cTAC'>Submit</button><br><br>
<div class='cHide'>
<div ng-messages="registrationForm.creditcard.$error">
  <span ng-message='required'>Credit card field is required</span><br>
  <span ng-message='minLength'>Credit card minimum length not met</span><br>
  <span ng-message='luhn'>Invalid credit card number</span><br>
</div>
</div>
</form>
